.hello{
  font-family: "sloop-script-one", sans-serif;
  font-weight: 0px;
  font-size: 100px;
  font-style: normal;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 0px;
  margin-bottom: -30px;
}
.welcome{
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 600;
font-style: normal;
padding-bottom: 300px;
}